@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyCustomFont1';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }